<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credits</title>
</head>
<body>

    <h1>Author: Fernando Graus Launa</h1>
    <img src="../imageResoource/josito.jpg" width="200"/>

</body>
</html>