<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/credits">Credits</a>
        <a href="/quizzes">quizzes</a>
    </nav>

    <section>
        <div>
            <%- body %>
        </div>
    </section>

</body>
</html>